body{
    margin:0;
    align-items: center;
    justify-content: center;
    display:flex;
    background-color:white;
    height:100vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cointainer{
    height:500px;
    width:450px;
    border: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:aliceblue;
    box-shadow: 20px 20px 5px rgb(156, 155, 155);
}

.brand-logo img{
    background-repeat: no-repeat;
    border-radius: 60%;
    margin-top: 20px;
    box-shadow: 7px 7px 5px rgb(232, 229, 229);
    margin-bottom: 10px;
}
.brand-title{
    color:rgb(65, 65, 218);
    margin-bottom: 10px;
    font-weight: bold;

}
.inputs {
    text-align:left;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
  
}
input,label,button{
   display:block;
   width:100%;
   border:none;
   box-sizing: border-box;
    
}
label{
    font-weight: bold;
    margin-bottom: 5px; 
    color:rgb(65, 65, 218);

}
input{
    background: white;
    padding: 10px;
    height:50px;
    border-radius: 50px;
    box-shadow: 7px 7px 5px rgb(232, 229, 229)    ;
}
button{
   background-color:rgb(65, 65, 218) ;
   color: white;
   margin-top: 10px;
   padding:10px;
   border-radius: 20px;
   font-weight: bold;
   box-shadow: 2px 2px 5px rgb(252, 250, 250);


}